[submodule "third_party/hwcpipe"]
	path = third_party/hwcpipe
	url = https://github.com/ARM-software/HWCPipe
[submodule "third_party/astc"]
	path = third_party/astc
	url = https://github.com/ARM-software/astc-encoder
[submodule "assets"]
	path = assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets
	shallow = true
